.whatsapp-link {
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    z-index: 500000000000000;
  }
  
  .whatsapp-link img {
    margin-right: 0px;
    width: 100px;
  }
  